{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('regenerateSecret', object) and admin.hasRoute('regenerateSecret') %}
    <a href="{{ admin.generateObjectUrl('regenerateSecret', object) }}" class="btn btn-sm btn-default regenerateSecret_link" title="{{ 'action_regenerateSecret'|trans({}, admin.translationDomain ?: 'SonataAdminBundle') }}">
        <i class="fa fa-key" aria-hidden="true"></i>
        {{ 'action_regenerateSecret'|trans({}, admin.translationDomain ?: 'SonataAdminBundle') }}
    </a>
{% endif %}
