{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('generateWebUrl', object) and admin.hasRoute('generateWebUrl') %}
    <a href="{{ admin.generateObjectUrl('generateWebUrl', object) }}" class="btn btn-sm btn-default generateWebUrl_link" target="_blank" title="{{ 'action_generateWebUrl'|trans({}, admin.translationDomain ?: 'SonataAdminBundle') }}">
        <i class="fa fa-external-link" aria-hidden="true"></i>
        {{ 'action_generateWebUrl'|trans({}, admin.translationDomain ?: 'SonataAdminBundle') }}
    </a>
{% endif %}
